<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ERROR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 th:text="${status} + ' ERROR'"></h1>

    <h3>
        <i class="fa fa-warning"></i>
        <span th:text="${error}"></span>
    </h3>

    <p th:text="${message}"></p>
</div>

</body>
</html>